/* font */
@font-face{
    font-family: 'pretendard';
    src: url(../../fonts/PretendardVariable.woff2);
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Monoplex';
    src: url(../../pages/PettyDust/font/MonoplexKRWideNerd-Regular.woff2);
}
@font-face{
    font-family: 'MonoplexB';
    src: url(../../pages/PettyDust/font/MonoplexKRWideNerd-Bold.woff2);
}
/* font end */

/* reset */
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{
    color: inherit;
    text-decoration: none;
}
/* reset end */

html{
    color: #1e1e4b;
    font-family: 'pretendard';
}

header{
    width: 100%;
    height: 150px;
}
header h1{
    font-family: 'SBaggroB';
    font-size: 30px;
    text-align: center;
    padding-top: 14vh;
}

.s1{
    width: 100%;
}
.s1 figure{
    margin: 80px 0;
    text-align: center;
}
.s1 figure img{
    width: 80vw;
}
.s1 .btn{
    width: 90vw;
    height: 10vh;
    margin: 5vw;
    display: flex;
    justify-content: space-evenly;
}
.s1 .btn .baro{
    width: 40%;
    height: 95%;
    border: 2px solid #1e1e4b;
    position: relative;
    border-radius: 5px;
    box-shadow: inset -4px -4px 6px 1px rgba(30,30,75,0.5);
    color: #333366;
}
.s1 .btn .baro a{
    display: block;
    width: 100%;
    height: 100%;
}
.s1 .btn .baro p{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 700;
}
.s1 .btn form input{
    display: block;
    width: 36vw;
    height: 10vh;
    background-color: transparent;
    border: 2px solid #1e1e4b;
    border-radius: 5px;
    font-family: 'pretendard';
    font-size: 14px;
    font-weight: 700;
    box-shadow: inset -4px -4px 6px 1px rgba(30,30,75,0.5);
    color: #333366;
}
.s1 article{
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    padding-top: 10vh;
}
.s1 article .border{
    width: 50px;
    height: 1px;
    background-color: #1e1e4b;
    margin: 5vh auto;
}
.s1 article p{
    line-height: 8vh;
}
.s1 article p span{
    display: block;
    margin-top: -2vh;
    font-size: 16px;
}

.s2 .wrap{
    margin-top: 20vh;
}
.s2 .item{
    width: 80%;
    margin: 0 auto;
}
.s2 .item .tit h3{
    font-family: 'SBaggroB';
    padding: 0 4vw;
}
.s2 .item .tit figure{
    padding-top: 2px;
    margin-bottom: 30px;
}
.s2 .item .tit figure img{
    width: 80px;
    height: 15px;
}
.s2 .what .tit figure img{
    width: 90px;
}
.s2 .item article{
    width: 95%;
    margin: 0 auto 80px;
    line-height: 40px;
}
.s2 .what{
    text-align: left;
}
.s2 .why{
    text-align: right;
}
.s2 .how{
    text-align: left;
}
.s2 .how article strong{
    font-size: 18px;
}
.s2 .how article p{
    width: 90%;
    margin: 0 auto;
}
.s2 .how article strong::before{
    content: '▪';
    padding-right: 15px;
    font-size: 24px;
}
.s2 .how article p::before{
    content: '⇒';
    padding-right: 10px;
}

.s3 .wrap{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.s3 .wrap .item{
    width: 40%;
    margin-bottom: 50px;
}
.s3 .wrap .item h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.s3 .wrap .item figure{
    width: 100%;
    box-shadow: 5px 5px 7px rgba(30,30,75,0.4);
}
.s3 .wrap .item figure img{
    width: 100%;
}

.s4{
    position: relative;
}
.s4 .con{
    width: 80%;
    margin: 80px auto 0;
}
.s4 .con .tit{
    text-align: right;
}
.s4 .con .tit h3{
    font-family: 'SBaggroB';
    padding: 0 15px;
}
.s4 .con .tit figure{
    padding-top: 2px;
    margin-bottom: 30px;
}
.s4 .con .tit figure img{
    width: 180px;
    height: 15px;
}
.s4 .con .box{
    width: 100%;
    margin: 0 auto;
}
.s4 .con .box h4{
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: 700;
}
.s4 .color .palet, .s4 .typo .card{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.s4 .color .palet{
    width: 85vw;
}
.s4 .item{
    width: 13vw;
    margin: 0 auto;
}
.s4 .color .palet .co{
    width: 12vw;
    height: 12vw;    
    border-radius: 50%;
    box-shadow: 3px 5px 10px rgba(30,30,75,0.4);
}
.s4 .color .palet .cob{background-color: #bed9e2;}
.s4 .color .palet .co9{background-color: #99ccc4;}
.s4 .color .palet .co8{background-color: #84b6b4;}
.s4 .color .palet .coa{background-color: #88aa82;}
.s4 .color .palet .co6{background-color: #996666;}
.s4 .color .palet p, .s4 .typo .card .item p{
    text-align: center;
    padding-top: 3vh;
    font-size: 12px;
    font-weight: 600;
}
.s4 .con .typo{
    margin: 10vw auto;
}
.s4 .typo .card .po{
    width: 12vw;
    height: 12vw;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgba(30,30,75,0.4);
    position: relative;
}
.s4 .typo .card .po p{
    font-size: 18px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.s4 .typo .card .item{
    font-family: 'Monoplex';
}
.s4 .typo .card .item .B{
    font-family: 'MonoplexB';
}
.s4 .typo .card .item>p{
    text-transform: capitalize;
}

.topBtn{
    position: absolute;
    bottom: -4%;
    right: 3%;
}
.topBtn input{
    border: 2px solid rgba(30,30,75,0.6);
    border-radius: 5px;
    background-color: transparent;
    width: 8vw;
    height: 8vw;
    font-size: 12px;
    font-weight: 600;
    padding-top: 1vw;
}